.lake-container ol,
.lake-container ul {
  padding-left: 20px;
}
.lake-container ol li,
.lake-container ul li {
  padding-left: 6px;
}
.lake-container ul[type="checklist"] {
  list-style-type: none;
  padding-left: 0;
}
.lake-container ul[type="checklist"] li {
  position: relative;
  padding-left: 26px;
  pointer-events: none;
}
.lake-container ul[type="checklist"] li[value="true"] {
  color: #8c8c8c;
  text-decoration: line-through;
}
.lake-container ul[type="checklist"] li::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: auto;
}
.lake-container ul[type="checklist"] li[value="true"]::before {
  border: 1px solid #1890ff;
  background-color: #1890ff;
}
.lake-container ul[type="checklist"] li[value="false"]::before {
  border: 1px solid #d9d9d9;
  background-color: #fff;
}
.lake-container ul[type="checklist"] li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 4px;
  width: 4px;
  height: 8px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 1px;
  transform: rotate(45deg) scale(1) translate(-50%,-50%);
}
