.lake-editor {
  box-sizing: border-box;
  padding: 0 8px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1000px;
}
.lake-toolbar-root {
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-bottom: none;
}
.lake-root {
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  height: calc(100vh - 160px);
  overflow: auto;
}
