.lake-editor {
  box-sizing: border-box;
  padding: 0 8px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1000px;
}

.lake-toolbar-root {
  box-sizing: border-box;
  border: 1px solid var(--lake-border-color);
  border-bottom: none;
}

.lake-root {
  box-sizing: border-box;
  border: 1px solid var(--lake-border-color);
  height: calc(100vh - 160px);
  overflow: auto;
}

.lake-container {
  min-height: calc(100vh - 162px);
}
