.document {
  background-color: #0000000d;
}
.document .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.document .lake-editor {
  padding: 0;
  margin: 0 auto;
  max-width: none;
  min-width: 300px;
}
.document .lake-editor .lake-toolbar-root {
  position: fixed;
  top: 60px;
  width: 100%;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-left: none;
  border-right: none;
  z-index: 999;
}
.document .lake-editor .lake-root {
  margin: 130px auto;
  max-width: 1000px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  height: auto;
  min-height: 800px;
  overflow: visible;
}
