.headless .lake-editor {
  padding: 0 8px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1000px;
}

.headless .lake-toolbar-root {
  border: none;
  padding-bottom: 8px;
}

.headless .lake-editor .lake-toolbar-root .lake-button {
  margin-right: 8px;
}

.headless .lake-root {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  height: 300px;
  overflow: auto;
}

.headless .lake-container {
  min-height: 298px;
}
