body {
  margin: 0;
  padding: 0;
  color: #000000e0;
}
.header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-weight: normal;
  line-height: normal;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 44px 1fr 38px 38px 36px;
  align-items: center;
  padding: 8px 8px 16px 8px;
  background-color: #fff;
}
.header .menu {
  position: relative;
  line-height: 0;
}
.header .menu img {
  width: 24px;
  height: 24px;
  margin: 6px;
}
.header .menu button {
  border-radius: 5px;
  border: 0;
  background-color: #fff;
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
  user-select: none;
}
.header .menu .hovered {
  background-color: #0000000a;
}
.header .menu ul {
  position: absolute;
  top: 36px;
  inset-inline-start: 0;
  z-index: 1212;
  list-style: none;
  margin: 0;
  padding: 6px 0;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  box-shadow: 0 6px 16px 0 #00000014, 0 3px 6px -4px #0000001f, 0 9px 28px 8px #0000000d;
  display: none;
}
.header .menu ul li {
  margin: 0;
  padding: 6px 24px;
  white-space: nowrap;
  font-size: 14px;
  line-height: normal;
}
.header .menu ul li a {
  color: #000000e0;
  text-decoration: none;
}
.header .menu ul li a:hover {
  text-decoration: underline;
}
.header .title {
  font-size: 18px;
}
.header .lake-dropdown .lake-dropdown-icon img {
  width: 24px;
  height: 24px;
}
.header .lake-dropdown .lake-dropdown-menu {
  top: 36px;
}
.header .source {
  line-height: 0;
}
.header .source a {
  display: block;
  border-radius: 5px;
}
.header .source a:hover {
  background-color: #0000000a;
}
.header .source img {
  width: 24px;
  height: 24px;
  margin: 6px;
}
