.miniature .lake-editor {
  padding: 0 8px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 600px;
}
.miniature .lake-toolbar-root {
  border: 1px solid #d9d9d9;
  border-bottom: none;
}
.miniature .lake-editor .lake-toolbar .lake-color-dropdown-menu li:first-child .lake-dropdown-menu-text {
  text-align: center;
}
.miniature .lake-root {
  border: 1px solid #d9d9d9;
  overflow: auto;
}
.miniature .lake-container {
  height: 200px;
}
.miniature .lake-root-focused {
  outline: 2px solid var(--lake-input-border-hover-color);
}
.miniature .lake-editor .lake-container {
  padding: 8px 12px;
}

.miniature .lake-editor.lake-editor2 {
  margin-top: 32px;
}
.miniature .lake-editor.lake-editor2 .lake-toolbar-root {
  border: 1px solid #d9d9d9;
  border-top: none;
}
.miniature .lake-editor.lake-editor2 .lake-root {
  border-bottom: none;
}
