.lake-container blockquote {
  margin: 0;
  margin-bottom: 8px;
  padding: 8px 12px;
  color: var(--lake-secondary-text-color);
  border-left: 4px solid #0505050f;
}
.lake-container blockquote[type] {
  margin: 16px 0;
  padding: 16px 20px;
  color: var(--lake-text-color);
  border: 1px solid transparent;
  border-radius: 8px;
}
.lake-container blockquote[type="info"] {
  background-color: #8e96aa24;
}
.lake-container blockquote[type="tip"] {
  background-color: #646cff24;
}
.lake-container blockquote[type="warning"] {
  background-color: #eab30824;
}
.lake-container blockquote[type="danger"] {
  background-color: #f43f5e24;
}
