.lake-box-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: content-box;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: var(--text-color);
  background-color: #fff;
  box-shadow: 0 2px 0 #00000005;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.lake-box-toolbar .lake-toolbar-divider {
  box-sizing: content-box;
  width: 1px;
  height: 20px;
  margin: 0 4px;
  border-left: 1px solid var(--border-color);
  user-select: none;
}
