.lake-container lake-box[type="inline"] {
  display: inline-flex;
  margin: 0;
  padding: 0;
}
.lake-container lake-box[type="block"] {
  display: flex;
  margin: 0;
  padding: 0;
}
.lake-container lake-box .lake-box-strip {
  display: inline;
  min-width: 1px;
  vertical-align: baseline;
  align-self: flex-end;
}
.lake-container lake-box .lake-box-strip ::selection {
  background: transparent;
}
.lake-container lake-box .lake-box-container {
  display: block;
  width: calc(100% - 2px);
}
