lake-box {
  margin: 0;
  padding: 0;
  text-indent: 0;
  grid-template-columns: 1px 1fr 1px;
}
lake-box[type="inline"] {
  display: inline grid;
}
lake-box[type="block"] {
  display: block grid;
}
lake-box .lake-box-strip {
  display: block;
  min-width: 1px;
}
lake-box[type="inline"] .lake-box-strip {
  align-self: flex-end;
}
lake-box[type="block"] .lake-box-strip {
  align-self: stretch;
}
lake-box .lake-box-strip ::selection {
  background: transparent;
}
lake-box .lake-box-container {
  display: block;
  align-self: center;
}
/* box button group */
lake-box .lake-box-hovered .lake-button-group,
lake-box .lake-box-focused .lake-button-group,
lake-box .lake-box-activated .lake-button-group {
  display: flex;
}
lake-box .lake-box-focused .lake-resizer {
  display: block;
}
lake-box .lake-button-group {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .4);
  line-height: 0;
  display: flex;
  align-items: center;
  padding: 0 6px;
  display: none;
}
lake-box .lake-button-group button {
  border-radius: 5px;
  border: 0;
  color: var(--text-color);
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
  user-select: none;
}
lake-box .lake-button-group button svg {
  fill: #fff;
  width: 16px;
  height: 16px;
  margin: 6px;
}
/* box toolbar */
.lake-box-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: content-box;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: var(--text-color);
  background-color: #fff;
  box-shadow: 0 2px 0 #00000005;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.lake-box-toolbar .lake-toolbar-divider {
  box-sizing: content-box;
  width: 1px;
  height: 20px;
  margin: 0 4px;
  border-left: 1px solid var(--border-color);
  user-select: none;
}
