lake-box[name="codeBlock"] {
  margin-bottom: 8px;
}
lake-box[name="codeBlock"] .lake-box-container {
  border: 1px solid var(--border-color);
}
lake-box[name="codeBlock"] .lake-box-selected {
  border-color: var(--link-color);
}
lake-box[name="codeBlock"] .lake-box-activated {
  border-color: var(--warning-color);
}
lake-box[name="codeBlock"] .CodeMirror {
  height: auto;
  outline: none;
  border: 1px solid transparent;
}
lake-box[name="codeBlock"] .CodeMirror-scroll {
  max-height: 200px;
}
lake-box[name="codeBlock"] .CodeMirror pre {
  padding-left: 7px; line-height: 1.25;
}
