.lake-container-wrapper {
  position: relative;
}
.lake-container {
  box-sizing: content-box;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.45;
  padding: 16px 24px;
}
.lake-container:focus {
  outline: none;
}
.lake-container::selection,
.lake-container ::selection {
  color: inherit;
  background: var(--selection-background-color);
}
.lake-container.lake-placeholder::before {
  position: absolute;
  top: 8px;
  left: 12px;
  color: var(--secondary-text-color);
  content: attr(placeholder);
  pointer-events: none;
}
.lake-container bookmark {
  display: inline;
}
.lake-container p {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.lake-drop-indication {
  position: absolute;
  height: 2px;
  background-color: #1677ff;
  z-index: 1;
  pointer-events: none;
  display: none;
}
.lake-drop-indication svg {
  position: absolute;
  top: -7.5px;
  left: -10px;
  width: 16px;
  height: 16px;
  fill: #1677ff;
  pointer-events: none;
}
