.lake-container {
  box-sizing: content-box;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  color: var(--text-color);
  background-color: #fff;
  padding: 16px 24px;
}
.lake-container:focus {
  outline: none;
}
.lake-container::selection,
.lake-container ::selection {
  color: inherit;
  background: var(--selection-background-color);
}
.lake-container bookmark {
  display: inline;
}
.lake-container p {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.lake-container a {
  color: var(--link-color);
  text-decoration: none;
}
.lake-container a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
