.lake-corner-toolbar {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .4);
  line-height: 0;
  display: flex;
  align-items: center;
  padding: 0 6px;
  display: none;
}
.lake-corner-toolbar button {
  border-radius: 5px;
  border: 0;
  color: var(--lake-text-color);
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
  user-select: none;
}
.lake-corner-toolbar button svg {
  fill: #fff;
  width: 16px;
  height: 16px;
  margin: 6px;
}
