:root {
  /* common */
  --lake-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  --lake-font-size: 16px;
  --lake-text-color: #000000e0;
  --lake-secondary-text-color: #000000a6;
  --lake-border-color: #d9d9d9;
  --lake-background-hover-color: #0000000a;
  --lake-background-active-color: #0000000d;
  --lake-success-color: #52c41a;
  --lake-warning-color: #faad14;
  --lake-error-color: #ff4d4f;
  /* selection */
  --lake-selection-background-color: #1ba2e333;
  /* link */
  --lake-link-color: #1677ff;
  --lake-link-hover-color: #69b1ff;
  /* box */
  --lake-box-border-color: #d9d9d9;
  --lake-box-border-focus-color: #1677ff;
  --lake-box-background-color: #f6f8fa;
  /* popup */
  --lake-popup-z-index: 822;
  --lake-popup-font-size: 14px;
  --lake-popup-border-color: #d9d9d9;
  --lake-popup-shadow: 0 6px 16px 0 #00000014, 0 3px 6px -4px #0000001f, 0 9px 28px 8px #0000000d;
  /* button */
  --lake-button-font-size: 14px;
  --lake-button-shadow: 0 2px 0 #00000005;
  --lake-button-outline: 2px solid #69b1ff;
  /* input element, text field */
  --lake-input-border-color: #d9d9d9;
  --lake-input-border-hover-color: #69b1ff;
  --lake-input-outline: 2px solid #69b1ff;
}
