.lake-equation {
  position: relative;
  font-weight: normal;
  border: 1px solid transparent;
  border-radius: 4px;
}
.lake-container[contenteditable="true"] .lake-equation {
  user-select: none;
}
lake-box[name="equation"] .lake-box-strip {
  align-self: center;
}
lake-box[name="equation"] .lake-box-selected .lake-equation {
  background-color: var(--selection-background-color);
}
lake-box[name="equation"] .lake-box-focused .lake-equation {
  background-color: var(--selection-background-color);
}
.lake-equation .lake-equation-view {
  padding: 0 6px;
}
.lake-equation .lake-equation-form {
  position: absolute;
  top: 28px;
  left: 0;
  z-index: 1;
  box-sizing: content-box;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 16px;
  width: fit-content;
  background-color: #fff;
  box-shadow: var(--popup-shadow);
  display: none;
}
lake-box[name="equation"] .lake-box-focused .lake-equation-form,
lake-box[name="equation"] .lake-box-activated .lake-equation-form {
  display: flex;
}
.lake-equation .lake-equation-form textarea {
  border: 0;
  box-sizing: border-box;
  font-family: Consolas, Courier, monospace;
  font-size: 14px;
  color: var(--text-color);
  padding: 0;
  margin-right: 8px;
  width: 300px;
  height: 80px;
  resize: none;
  scrollbar-width: thin;
}
.lake-equation .lake-equation-form textarea:focus-visible {
  outline: 0;
}
/* error status */
.lake-equation-error {
  padding: 0 6px;
  font-size: 14px;
  color: var(--error-color);
  background-color: var(--box-background-color);
}
