.lake-file {
  position: relative;
  line-height: 0;
  box-sizing: content-box;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: default;
  user-select: none;
}
.lake-file .lake-file-info {
  display: flex;
  align-items: center;
}
.lake-file .lake-file-type svg {
  width: 16px;
  height: 16px;
  margin: 4px;
}
.lake-file .lake-file-name {
  line-height: 24px;
  margin-right: 6px;
  color: var(--link-color);
}
lake-box[name="file"] .lake-box-hovered .lake-file {
  background-color: var(--box-background-color);
}
lake-box[name="file"] .lake-box-selected .lake-file {
  background-color: var(--selection-background-color);
}
lake-box[name="file"] .lake-box-focused .lake-file {
  background-color: var(--selection-background-color);
}
/* uploading status */
.lake-file-uploading .lake-progress {
  display: flex;
  align-items: center;
  margin-right: 6px;
}
.lake-file-uploading .lake-progress svg {
  width: 16px;
  height: 16px;
  margin: 4px;
  animation: lakeRotate 1s linear 0s infinite normal none;
}
.lake-file-uploading .lake-progress .lake-percent {
  line-height: 24px;
  margin-left: 4px;
  white-space: nowrap;
}
/* error status */
.lake-file-error .lake-file-type svg {
  fill: var(--error-color);
}
.lake-file-error .lake-file-name {
  color: var(--error-color);
}
/* readonly mode */
.lake-file-readonly {
  cursor: pointer;
}
