@keyframes lakeRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lake-file {
  position: relative;
  line-height: 0;
  box-sizing: content-box;
  border: 1px solid transparent;
  border-radius: 4px;
}
.lake-file .lake-file-info {
  display: flex;
  align-items: center;
}
.lake-file .lake-file-type svg {
  width: 16px;
  height: 16px;
  margin: 6px;
}
.lake-file .lake-file-name {
  line-height: 28px;
  margin-right: 6px;
  color: var(--link-color);
}
lake-box[name="file"] .lake-box-hovered .lake-file {
  border-color: var(--box-border-color);
}
lake-box[name="file"] .lake-box-focused .lake-file {
  border-color: var(--box-border-focus-color);
}
.lake-file .lake-button-group {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .4);
  line-height: 0;
  display: flex;
  align-items: center;
  padding: 0 6px;
  display: none;
}
lake-box[name="file"] .lake-box-hovered .lake-button-group,
lake-box[name="file"] .lake-box-focused .lake-button-group {
  display: flex;
}
.lake-file .lake-button-group button {
  border-radius: 5px;
  border: 0;
  color: var(--text-color);
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
  user-select: none;
}
.lake-file .lake-button-group button svg {
  fill: #fff;
  width: 16px;
  height: 16px;
  margin: 6px;
}
/* uploading status */
.lake-file-uploading .lake-image-img {
  opacity: 0.5;
}
.lake-file .lake-progress {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 1;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .4);
  line-height: 0;
  display: flex;
  align-items: center;
  padding: 0 6px;
}
.lake-file .lake-progress svg {
  fill: #fff;
  width: 16px;
  height: 16px;
  margin: 6px;
  animation: lakeRotate 1s linear 0s infinite normal none;
}
.lake-file .lake-progress .lake-percent {
  font-size: 14px;
  color: #fff;
  margin: 6px;
  white-space: nowrap;
}
/* error status */
.lake-file-error .lake-file-type svg {
  fill: var(--error-color);
}
.lake-file-error .lake-file-name {
  color: var(--error-color);
}
