.lake-floating-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--lake-popup-z-index);
  border: 1px solid var(--lake-border-color);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--lake-button-shadow);
  padding: 4px;
  display: flex;
  align-items: center;
}
.lake-floating-toolbar .lake-toolbar-divider {
  width: 1px;
  height: 20px;
  margin: 0 4px;
  border-left: 1px solid var(--lake-border-color);
  user-select: none;
}
