.lake-container h1,
.lake-container h2,
.lake-container h3,
.lake-container h4,
.lake-container h5,
.lake-container h6 {
  font-weight: bold;
  line-height: normal;
  border: 0;
  margin: 0;
  padding: 0;
}
.lake-container h1 {
  font-size: 36px;
  margin-bottom: 16px;
}
.lake-container h2 {
  font-size: 30px;
  margin-bottom: 14px;
}
.lake-container h3 {
  font-size: 24px;
  margin-bottom: 14px;
}
.lake-container h4 {
  font-size: 20px;
  margin-bottom: 12px;
}
.lake-container h5 {
  font-size: 18px;
  margin-bottom: 10px;
}
.lake-container h6 {
  font-size: 16px;
  margin-bottom: 8px;
}
