lake-box[name="hr"] {
  margin-bottom: 8px;
}
lake-box[name="hr"] .lake-box-container {
  margin: 0;
  padding: 10px 0;
  cursor: pointer;
}
lake-box[name="hr"] .lake-box-hovered {
  background-color: var(--background-hover-color);
}
lake-box[name="hr"] .lake-box-selected {
  background-color: var(--selection-background-color);
}
lake-box[name="hr"] .lake-box-container hr {
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid var(--border-color);
}
