.lake-iframe {
  position: relative;
  font-size: 14px;
  font-weight: normal;
  line-height: 0;
  border: 1px solid transparent;
}

.lake-iframe .lake-iframe-form {
  padding: 16px;
  line-height: normal;
  color: var(--lake-text-color);
  border: 1px solid var(--lake-box-border-color);
  background-color: var(--lake-box-background-color);
  border-radius: 4px;
}

.lake-iframe input[type="text"] {
  font-family: var(--lake-font-family);
  font-size: 14px;
  color: var(--lake-text-color);
  border-radius: 5px;
  border: 1px solid var(--lake-input-border-color);
  padding: 4px 10px;
  width: 100%;
}

.lake-iframe input[type="text"]:hover {
  border: 1px solid var(--lake-input-border-hover-color);
}

.lake-iframe input[type="text"]:focus-visible {
  outline: var(--lake-input-outline);
  outline-offset: -2px;
}

.lake-iframe .lake-row {
  padding-bottom: 8px;
}

.lake-iframe .lake-desc-row {
  padding-top: 8px;
  padding-bottom: 16px;
  color: var(--lake-secondary-text-color);
}

.lake-iframe .lake-button-row {
  padding-top: 16px;
}

.lake-iframe .lake-button-row button {
  width: 100%;
}
