.lake-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background-color: #fafafa;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.lake-image-placeholder svg {
  fill: #d9d9d9;
  width: 50%;
  max-width: 64px;
  height: 50%;
  max-height: 64px;
}
.lake-image {
  position: relative;
  line-height: 0;
  border: 1px solid transparent;
  border-radius: 4px;
}
.lake-image .lake-image-img {
  border: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
lake-box[name="image"] .lake-box-focused .lake-image {
  border-color: var(--lake-box-border-focus-color);
}
.lake-image-caption {
  position: relative;
  font-size: 14px;
  line-height: normal;
  color: var(--lake-secondary-text-color);
  padding-top: 2px;
  padding-bottom: 8px;
}
.lake-image-caption:focus {
  outline: 0;
}
.lake-image-caption.lake-placeholder::before {
  position: absolute;
  top: 2px;
  left: 0;
  color: var(--lake-secondary-text-color);
  content: attr(placeholder);
  pointer-events: none;
}
/* uploading status */
.lake-image-uploading .lake-image-img {
  opacity: 0.5;
}
.lake-image .lake-progress {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 1;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .4);
  line-height: 0;
  display: flex;
  align-items: center;
  padding: 0 6px;
}
.lake-image .lake-progress svg {
  fill: #fff;
  width: 16px;
  height: 16px;
  margin: 6px;
  animation: lakerotate 1s linear 0s infinite normal none;
}
.lake-image .lake-progress .lake-percent {
  font-size: 14px;
  color: #fff;
  margin: 6px;
  white-space: nowrap;
}
/* error status */
.lake-image .lake-error {
  padding: 16px;
}
.lake-image.lake-image-error {
  border: 1px solid var(--lake-box-border-color);
}
.lake-image.lake-image-error ::selection {
  background-color: transparent;
}
lake-box[name="image"] .lake-box-selected .lake-image-error {
  background-color: var(--lake-selection-background-color);
}
.lake-image .lake-error-icon {
  line-height: 0;
  text-align: center;
  margin-bottom: 8px;
}
.lake-image .lake-error-icon svg {
  fill: var(--lake-error-color);
  width: 64px;
  height: 64px;
}
.lake-image .lake-error-name {
  color: var(--lake-error-color);
  line-height: normal;
}
/* full screen */
.lake-pswp .pswp__button svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}
.lake-pswp .pswp__img,
.lake-pswp.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img,
.lake-pswp.pswp--click-to-zoom.pswp--zoomed-in .pswp__img:active {
  cursor: pointer;
}
