@keyframes lakeRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lake-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: #fafafa;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.lake-image-placeholder svg {
  fill: #d9d9d9;
  width: 50%;
  max-width: 64px;
  height: 50%;
  max-height: 64px;
}
.lake-image {
  position: relative;
  line-height: 0;
  border: 1px solid transparent;
  border-radius: 4px;
}
.lake-image .lake-image-img {
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
lake-box[name="image"] .lake-box-focused .lake-image {
  border-color: var(--box-border-focus-color);
}
.lake-image .lake-button-group {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .4);
  line-height: 0;
  display: flex;
  align-items: center;
  padding: 0 6px;
  display: none;
}
lake-box[name="image"] .lake-box-hovered .lake-button-group,
lake-box[name="image"] .lake-box-focused .lake-button-group {
  display: flex;
}
.lake-image .lake-button-group button {
  border-radius: 5px;
  border: 0;
  color: var(--text-color);
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
  user-select: none;
  outline: none;
}
.lake-image .lake-button-group button svg {
  fill: #fff;
  width: 16px;
  height: 16px;
  margin: 6px;
}
.lake-image .lake-resizer {
  user-select: none;
  display: none;
}
lake-box[name="image"] .lake-box-focused .lake-resizer {
  display: block;
}
.lake-image .lake-resizer-top-left,
.lake-image .lake-resizer-top-right,
.lake-image .lake-resizer-bottom-left,
.lake-image .lake-resizer-bottom-right {
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 12px;
  line-height: 0;
  z-index: 1;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: var(--box-border-focus-color);
}
.lake-image .lake-resizer-top-left {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}
.lake-image .lake-resizer-top-right {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}
.lake-image .lake-resizer-bottom-left {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}
.lake-image .lake-resizer-bottom-right {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}
.lake-image .lake-resizer-info {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 1;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .4);
  padding: 2px 8px;
  font-size: 14px;
  line-height: normal;
  color: #fff;
  white-space: nowrap;
  display: none;
}
/* uploading status */
.lake-image-uploading .lake-image-img {
  opacity: 0.5;
}
.lake-image .lake-progress {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 1;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .4);
  line-height: 0;
  display: flex;
  align-items: center;
  padding: 0 6px;
}
.lake-image .lake-progress svg {
  fill: #fff;
  width: 16px;
  height: 16px;
  margin: 6px;
  animation: lakeRotate 1s linear 0s infinite normal none;
}
.lake-image .lake-progress .lake-percent {
  font-size: 14px;
  color: #fff;
  margin: 6px;
  white-space: nowrap;
}
/* error status */
.lake-image .lake-error {
  padding: 16px;
}
.lake-image.lake-image-error {
  border: 1px solid var(--box-border-color);
}
.lake-image.lake-image-error ::selection {
  background-color: transparent;
}
lake-box[name="image"] .lake-box-selected .lake-image-error {
  background-color: var(--selection-background-color);
}
.lake-image .lake-error-icon {
  line-height: 0;
  text-align: center;
  margin-bottom: 8px;
}
.lake-image .lake-error-icon svg {
  fill: var(--error-color);
  width: 64px;
  height: 64px;
}
.lake-image .lake-error-name {
  color: var(--error-color);
  line-height: normal;
}
/* full screen */
.lake-pswp .pswp__button svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}
.lake-pswp .pswp__img,
.lake-pswp.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img,
.lake-pswp.pswp--click-to-zoom.pswp--zoomed-in .pswp__img:active {
  cursor: pointer;
}
