.lake-container a {
  color: var(--link-color);
  text-decoration: none;
}
.lake-container a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
.lake-link-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 16px;
  width: fit-content;
  background-color: #fff;
  box-shadow: var(--popup-shadow);
  display: none;
}
.lake-link-popup .lake-url-row {
  display: flex;
  align-items: center;
}
.lake-link-popup .lake-button-row {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lake-link-popup input[type="text"] {
  width: 220px;
  margin-right: 4px;
}
.lake-link-popup button[name="copy"] svg:first-child {
  display: inline;
}
.lake-link-popup button[name="copy"] svg:nth-child(2) {
  display: none;
  fill: var(--success-color);
}
.lake-link-popup button[name="copy"] svg:last-child {
  display: none;
  fill: var(--error-color);
}
