.lake-container a {
  color: var(--link-color);
  text-decoration: none;
  outline: none;
}
.lake-container a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
.lake-overlay button {
  border-radius: 5px;
  border: 0;
  color: var(--text-color);
  background-color: #fff;
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
  user-select: none;
}
.lake-overlay button svg {
  width: 16px;
  height: 16px;
  margin: 6px;
}
.lake-overlay input {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--text-color);
  width: 200px;
  border-radius: 5px;
  border: 1px solid var(--input-border-color);
  padding: 4px 10px;
}
.lake-overlay input:hover {
  border: 1px solid var(--input-border-hover-color);
}
.lake-overlay input:focus {
  border: 1px solid var(--input-border-active-color);
  outline: none;
}
.lake-overlay .lake-row {
  padding-bottom: 8px;
}
.lake-link-popup {
  position: absolute;
  z-index: 1;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 16px;
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--text-color);
  background-color: #fff;
  box-shadow: var(--box-shadow);
  display: none;
}
.lake-link-popup input {
  width: 200px;
  margin-right: 4px;
}
.lake-link-popup .lake-url-row {
  display: flex;
  align-items: center;
}
.lake-link-popup .lake-url-row button:hover {
  background-color: var(--background-hover-color);
}
.lake-link-popup .lake-unlink-row {
  padding-top: 8px;
}
.lake-link-popup .lake-unlink {
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  padding: 5px;
}
.lake-link-popup .lake-unlink:hover {
  background-color: var(--background-hover-color);
}
.lake-link-popup .lake-unlink button {
  background-color: transparent;
  margin-right: 6px;
}
.lake-link-popup .lake-unlink button svg {
  margin: 0;
}
.lake-link-popup .lake-unlink-text {
  height: 20px;
}
