.lake-container ol,
.lake-container ul {
  list-style: none;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}
.lake-container ol[indent="1"] {
  margin-left: 40px;
}
.lake-container ol[indent="2"] {
  margin-left: 80px;
}
.lake-container ol[indent="3"] {
  margin-left: 120px;
}
.lake-container ol[indent="4"] {
  margin-left: 160px;
}
.lake-container ol[indent="5"] {
  margin-left: 200px;
}
.lake-container ol[indent="6"] {
  margin-left: 240px;
}
.lake-container ol[indent="7"] {
  margin-left: 280px;
}
.lake-container ol[indent="8"] {
  margin-left: 320px;
}
.lake-container ol[indent="9"] {
  margin-left: 360px;
}
.lake-container ol[indent="10"] {
  margin-left: 400px;
}
.lake-container ol li,
.lake-container ul li {
  margin-left: 20px;
  padding-left: 4px;
}
.lake-container ol li {
  list-style: decimal;
}
.lake-container ul li {
  list-style: disc;
}
.lake-container ul[type="checklist"] li {
  list-style: none;
  position: relative;
  margin-left: 0;
  padding-left: 24px;
  pointer-events: none;
}
.lake-container ul[type="checklist"] li[value="true"] {
  color: #8c8c8c;
  text-decoration: line-through;
}
.lake-container ul[type="checklist"] li::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: auto;
}
.lake-container ul[type="checklist"] li[value="true"]::before {
  border: 1px solid #1890ff;
  background-color: #1890ff;
}
.lake-container ul[type="checklist"] li[value="false"]::before {
  border: 1px solid #d9d9d9;
  background-color: #fff;
}
.lake-container ul[type="checklist"] li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 4px;
  width: 4px;
  height: 8px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 1px;
  transform: rotate(45deg) scale(1) translate(-50%,-50%);
}
