.lake-mention {
  border: 1px solid transparent;
  border-radius: 2px;
}
.lake-container[data-readonly="false"] .lake-mention a:hover {
  color: var(--lake-link-color);
  text-decoration: none;
}
lake-box[name="mention"] .lake-box-focused .lake-mention {
  border-color: var(--lake-selection-background-color);
  background-color: var(--lake-selection-background-color);
}
.lake-mention-menu {
  max-height: 208px;
}
.lake-mention-menu .lake-mention-avatar {
  margin-inline-end: 8px;
  line-height: 0;
}
.lake-mention-menu .lake-mention-avatar img {
  border-radius: 100%;
  width: 32px;
  height: 32px;
}
.lake-mention-menu .lake-mention-nickname {
  margin-inline-end: 4px;
  font-weight: 500;
  color: var(--lake-text-color);
  white-space: nowrap;
}
.lake-mention-menu .lake-mention-name {
  color: #8c8c8c;
}
