.lake-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--lake-popup-z-index);
  list-style: none;
  border: 1px solid var(--lake-popup-border-color);
  border-radius: 5px;
  margin: 0;
  padding: 4px 8px;
  width: fit-content;
  background-color: var(--lake-popup-background-color);
  box-shadow: var(--lake-popup-shadow);
  display: none;
  max-height: 180px;
  overflow-y: scroll;
  scrollbar-width: thin;
  user-select: none;
}
.lake-menu .lake-menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 4px 8px;
  border-radius: 5px;
  scroll-margin: 4px 0;
}
.lake-menu .lake-menu-item-selected {
  background-color: var(--lake-button-background-active-color);
}
