.lake-popup {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: var(--text-color);
}
.lake-popup button {
  box-shadow: var(--button-shadow);
}
.lake-popup input[type="text"] {
  box-sizing: content-box;
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--text-color);
  border-radius: 5px;
  border: 1px solid var(--input-border-color);
  padding: 4px 10px;
}
.lake-popup input[type="text"]:hover {
  border: 1px solid var(--input-border-hover-color);
}
.lake-popup input[type="text"]:focus-visible {
  outline: var(--input-outline);
  outline-offset: -2px;
}
.lake-popup .lake-row {
  padding-bottom: 8px;
}
