.lake-toolbar {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.lake-toolbar *,
.lake-toolbar ::before,
.lake-toolbar ::after {
  box-sizing: border-box;
}
.lake-toolbar .lake-toolbar-divider {
  width: 1px;
  height: 20px;
  margin: 0 4px;
  border-left: 1px solid var(--border-color);
  user-select: none;
}
.lake-toolbar .lake-upload {
  line-height: 0;
}
.lake-toolbar .lake-upload input[type="file"] {
  display: none;
}
