.lake-toolbar {
  padding: 0 8px;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  height: 36px;
  display: flex;
  align-items: center;
}
.lake-toolbar .lake-dropdown {
  position: relative;
  font-size: 14px;
  user-select: none;
}
.lake-toolbar .lake-dropdown-title {
  display: flex;
  padding: 4px 6px;
  margin: 0 2px;
  border-radius: 5px;
  cursor: pointer;
}
.lake-toolbar .lake-dropdown-title:hover {
  background-color: #0000000a;
}
.lake-dropdown .lake-dropdown-text {
  width: 80px;
  height: 20px;
}
.lake-dropdown .lake-dropdown-icon svg {
  width: 12px;
  height: 12px;
}
.lake-dropdown .lake-dropdown-menu {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  width: 140px;
  list-style: none;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #fff;
  display: none;
}
.lake-dropdown .lake-dropdown-menu li {
  padding: 6px 10px;
  cursor: pointer;
}
.lake-dropdown .lake-dropdown-menu li:hover {
  background-color: #0000000a;
}
.lake-toolbar .lake-toolbar-item {
  border-radius: 5px;
  border: 0;
  background-color: #fff;
  padding: 6px;
  margin: 0 2px;
  cursor: pointer;
  user-select: none;
}
.lake-toolbar .lake-toolbar-item:hover {
  background-color: #0000000a;
}
.lake-toolbar .lake-toolbar-item svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.lake-toolbar .lake-toolbar-separator {
  width: 1px;
  height: 20px;
  margin: 0 4px;
  border-left: 1px solid #d9d9d9;
}
