.lake-toolbar {
  --text-color: #000000e0;
  --secondary-text-color: #000000a6;
  --disabled-text-color: #00000040;
  --border-color: #d9d9d9;
  --background-hover-color: #0000000a;
  --background-selected-color: #0000000d;
  --box-shadow: 0 6px 16px 0 #00000014, 0 3px 6px -4px #0000001f, 0 9px 28px 8px #0000000d;
  padding: 4px;
  border: 1px solid var(--border-color);
  border-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.lake-toolbar .lake-toolbar-button {
  border-radius: 5px;
  border: 0;
  color: var(--text-color);
  background-color: #fff;
  padding: 0;
  margin: 0 1px;
  line-height: 0;
  cursor: pointer;
  user-select: none;
}
.lake-toolbar .lake-toolbar-button[disabled] {
  opacity: 0.25;
  cursor: default;
}
.lake-toolbar .lake-toolbar-button-hovered {
  background-color: var(--background-hover-color);
}
.lake-toolbar .lake-toolbar-button-selected {
  background-color: var(--background-selected-color);
}
.lake-toolbar .lake-toolbar-button svg {
  width: 16px;
  height: 16px;
  margin: 6px;
}
.lake-toolbar .lake-toolbar-divider {
  width: 1px;
  height: 20px;
  margin: 0 4px;
  border-left: 1px solid var(--border-color);
  user-select: none;
}
.lake-toolbar .lake-dropdown {
  position: relative;
  font-size: 14px;
  user-select: none;
}
.lake-toolbar .lake-dropdown-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-right: 4px;
  border-radius: 5px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}
.lake-toolbar .lake-dropdown[disabled] .lake-dropdown-title {
  opacity: 0.25;
  cursor: default;
}
.lake-toolbar .lake-dropdown-list .lake-dropdown-title-hovered {
  background-color: var(--background-hover-color);
}
.lake-toolbar .lake-dropdown-title.lake-dropdown-title-no-down {
  margin-right: 0;
}
.lake-toolbar .lake-dropdown-text {
  height: 16px;
  margin: 6px;
  overflow: hidden;
  white-space: nowrap;
  color: var(--text-color);
}
.lake-toolbar .lake-dropdown-icon {
  position: relative;
  line-height: 0;
  border-radius: 5px 0 0 5px;
}
.lake-toolbar .lake-dropdown-icon-hovered {
  background-color: var(--background-hover-color);
}
.lake-toolbar .lake-dropdown-icon svg {
  width: 16px;
  height: 16px;
  margin: 6px 2px 6px 4px;
}
.lake-toolbar .lake-dropdown-color .lake-dropdown-icon svg:last-child {
  position: absolute;
  left: 0;
  bottom: 0;
}
.lake-toolbar .lake-dropdown-title-no-down .lake-dropdown-icon svg {
  margin: 6px;
}
.lake-toolbar .lake-dropdown-down-icon {
  line-height: 0;
  border-radius: 0 5px 5px 0;
}
.lake-toolbar .lake-dropdown-down-icon-hovered {
  background-color: var(--background-hover-color);
}
.lake-toolbar .lake-dropdown-down-icon svg {
  width: 12px;
  height: 12px;
  margin: 8px 2px;
  fill: var(--secondary-text-color);
}
.lake-toolbar .lake-dropdown-menu {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 6px 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--text-color);
  background-color: #fff;
  box-shadow: var(--box-shadow);
  display: none;
}
.lake-toolbar .lake-dropdown-menu li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.lake-toolbar .lake-dropdown-list-menu li {
  padding: 6px 24px 6px 10px;
}
.lake-toolbar .lake-dropdown-list-menu li:hover {
  background-color: var(--background-hover-color);
}
.lake-toolbar .lake-dropdown-list-menu li .lake-dropdown-menu-check {
  line-height: 0;
  visibility: hidden;
}
.lake-toolbar .lake-dropdown-list-menu li .lake-dropdown-menu-check svg {
  width: 12px;
  height: 12px;
}
.lake-toolbar .lake-dropdown-list-menu li .lake-dropdown-menu-icon {
  line-height: 0;
  margin-left: 10px;
}
.lake-toolbar .lake-dropdown-list-menu li .lake-dropdown-menu-icon svg {
  width: 16px;
  height: 16px;
}
.lake-toolbar .lake-dropdown-list-menu li .lake-dropdown-menu-text {
  margin-left: 10px;
  white-space: nowrap;
}
.lake-toolbar .lake-dropdown-color-menu {
  flex-wrap: wrap;
  justify-content: center;
  width: 296px;
}
.lake-toolbar .lake-dropdown-color-menu li {
  position: relative;
  padding: 0;
}
.lake-toolbar .lake-dropdown-color-menu li:hover {
  background-color: var(--background-hover-color);
}
.lake-toolbar .lake-dropdown-color-menu li .lake-dropdown-menu-check {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;
  line-height: 0;
  visibility: hidden;
}
.lake-toolbar .lake-dropdown-color-menu li .lake-dropdown-menu-check svg {
  width: 12px;
  height: 12px;
  fill: #fff;
}
.lake-toolbar .lake-dropdown-color-menu li[value^="#f" i] .lake-dropdown-menu-check svg,
.lake-toolbar .lake-dropdown-color-menu li[value^="#e6" i] .lake-dropdown-menu-check svg {
  fill: #000;
}
.lake-toolbar .lake-dropdown-color-menu li .lake-dropdown-menu-icon {
  line-height: 0;
}
.lake-toolbar .lake-dropdown-color-menu li .lake-dropdown-menu-icon svg {
  width: 16px;
  height: 16px;
  margin: 3px 4px;
}
.lake-toolbar .lake-dropdown-color-menu li .lake-dropdown-menu-text {
  font-size: 0;
  border: 1px solid var(--background-hover-color);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin: 3px;
}
.lake-toolbar .lake-dropdown-color-menu li:first-child {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
}
.lake-toolbar .lake-dropdown-color-menu li:first-child .lake-dropdown-menu-check {
  display: none;
}
.lake-toolbar .lake-dropdown-color-menu li:first-child .lake-dropdown-menu-text {
  width: 100%;
  font-size: 14px;
  border: 1px solid transparent;
  height: auto;
}
