.lake-video {
  position: relative;
  font-size: 14px;
  font-weight: normal;
  line-height: 0;
  box-sizing: content-box;
  border: 1px solid transparent;
}
lake-box[name="video"] .lake-box-hovered .lake-resizer {
  display: block;
}
.lake-video .lake-video-form {
  box-sizing: content-box;
  padding: 16px;
  line-height: normal;
  border: 1px solid var(--box-border-color);
  border-radius: 4px;
}
.lake-video input[type="text"] {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--text-color);
  border-radius: 5px;
  border: 1px solid var(--input-border-color);
  padding: 4px 10px;
  width: 100%;
}
.lake-video input[type="text"]:hover {
  border: 1px solid var(--input-border-hover-color);
}
.lake-video input[type="text"]:focus-visible {
  outline: var(--input-outline);
  outline-offset: -2px;
}
.lake-video .lake-row {
  padding-bottom: 8px;
}
.lake-video .lake-desc-row {
  padding-top: 8px;
  padding-bottom: 16px;
  color: var(--secondary-text-color);
}
.lake-video .lake-button-row {
  padding-top: 16px;
}
.lake-video .lake-button-row button {
  box-sizing: border-box;
  width: 100%;
}
